.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.Avatar {
    width: 100px;
    height: 100px;
    background: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.SignUpHeader {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.SignUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.FormSubDiv {
    width: 100%;
    margin-bottom: 15px;
}

.SignUpInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    background: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.SignUpInput option {
    background-color: #d3d3d3;
    color: #333;
    padding: 10px;
}

.SignUpInput:focus {
    border-color: #ff7f50;
    outline: none;
}

.SignUpButton {
    width: 100%;
    padding: 10px;
    background-color: #ff7f50;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.input-container {
    width: 100%;
    position: relative;
}

.cross-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-size: 2rem;
    display: none;
}

.cross-icon.visible {
    display: block;
}

.LogInLink {
    color: #ff7f50;
}