.adminDashboard {
    background-color: #fff;
    overflow: hidden;
    padding: 10px 20px;
  }
  
  
  .container {
    display: flex;
    gap: 20px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .container2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
    }
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 17%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .sidebar {
      width: 50%;
    }
  }
  
  .sidebarContent {
    border-radius: 25px;
    background-color: #008080;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 108px 27px 47px;
  }
  
  @media (max-width: 991px) {
    .sidebarContent {
      margin-top: 40px;
      padding: 100px 20px 0;
    }
  }
  
  .adminTitle {
    color: #fff;
    text-align: center;
    align-self: center;
    font: 500 20px Ubuntu, sans-serif;
  }
  
  .categoryWrapper {
    display: flex;
    margin-top: 105px;
    display: flex;
    gap: 15px;
  }
  
  @media (max-width: 991px) {
    .categoryWrapper {
      margin-top: 20px;
    }
  }
  
  .categoryIcon {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  
  .iconRow {
    display: flex;
    gap: 3px;
    padding: 1px;
  }
  
  .iconDot {
    border-radius: 2px;
    background-color: #fff;
    width: 9px;
    height: 9px;
  }
  
  .categoryText {
    color: #fff;
    text-align: center;
    font: 500 20px Ubuntu, sans-serif;
  }
  
  .menuItem {
    align-self: stretch;
    display: flex;
    margin-top: 58px;
    gap: 15px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font: 500 20px Ubuntu, sans-serif;
  }
  
  @media (max-width: 991px) {
    .menuItem {
      margin-top: 40px;
      white-space: initial;
    }
  }
  
  .menuIcon {
    aspect-ratio: 1.04;
    object-fit: contain;
    object-position: center;
    width: 25px;
  }
  
  .menuText {
    flex-grow: 1;
    text-align: left;
  }
  
  .logoutWrapper {
    display: flex;
    margin-top: 254px;
    gap: 15px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font: 500 20px Ubuntu, sans-serif;
  }
  
  @media (max-width: 991px) {
    .logoutWrapper {
      white-space: initial;
      margin: 40px 0 0 5px;
    }
  }

  /* ___________________Sidebar ends here__________________ */

  .mainContent {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 83%;
  }
  
  @media (max-width: 991px) {
    .mainContent {
      width: 100%;
    }
  }
  
  .welcomeSection {
    border-radius: 30px;
    background-color: #008080;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    padding: 52px 70px;
  }
  
  @media (max-width: 991px) {
    .welcomeSection {

      align-self: stretch;
      padding: 20px 20px;
    }
  }
  
  .welcomeContent {
    width: 100%;
    max-width: 100%;
  }
  
  .welcomeText {
    display: flex;
    margin-top: 17px;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font: 500 20px Ubuntu, sans-serif;
  }
  
  @media (max-width: 991px) {
    .welcomeText {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .welcomeHeading {
    font-size: 36px;
    margin-top: 63px;
  }
  
  @media (max-width: 991px) {
    .welcomeHeading {
      margin-top: 40px;
    }
  }
  
  .welcomeMessage {
    align-self: stretch;
    margin-top: 25px;
  }
  
  @media (max-width: 991px) {
    .welcomeMessage {
      max-width: 100%;
    }
  }
  
  .userImage {
    aspect-ratio: 1.93;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    max-width: 100%;
  }
  
  @media (max-width: 991px) {
    .userImage {
      margin-top: 20px;
    }
  }
  
  .statsSection {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    color: #000;
    margin: 20px 0 0 0px;
    font: 400 24px Ubuntu, sans-serif;
  }
  
  .statsGrid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    justify-content: space-around;
  }
  
  @media (max-width: 750px) {
    .statsGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      flex-direction: column;
      align-items: center;
      align-self: center;
      white-space: initial;
      margin: 10px 0 0 0px;
    }
  }
  
  .statItem {
    border-radius: 35px;
    background-color: #4169e1;
    padding: 8px 40px 8px;
    align-content: center;
    display: flex;
    border: 3px solid #4169e1;
  }
  
  @media (max-width: 991px) {
    .statItem {
      white-space: initial;
      padding: 5px 25px;
    }
  }
  
  .textContainer {
    font-size: 21px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .textContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .sectionTitle {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }
  
  @media (max-width: 991px) {
    .sectionTitle {
      margin-top: 40px;
    }
  }
  
  .instructorsTitle {
    align-self: flex-end;
    margin-top: 14px;
  }
  
  @media (max-width: 991px) {
    .instructorsTitle {
      margin-right: 2px;
    }
  }
  
  .chartSection { 

    display: flex;
    flex-direction: row;
    margin: 12px 40px 0 22px;
    padding-top: 20px;
  }
  
  .chartImage {
    aspect-ratio: 1.98;
    object-fit: contain;
    object-position: left;
    width: 100%;
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .chartSection { 
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 10px 0 0 0px;
    }
    .chartImage {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  
  .instructorsList {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .instructorsList {
      margin-top: 40px;
    }
  }
  
  .instructorGrid {
    display: flex;
    align-items: flex-start;
    align-self: flex-end;
    margin: 10px;
    gap: 20px 22px;
  }
  
  .instructorAvatar {
    background-color: #008080;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .seeAllLink {
    margin-top: 21px;
    color: #4169e1;
    font: 500 20px Ubuntu, sans-serif;
    align-self: flex-end;
  }
  
  @media (max-width: 991px) {
    .seeAllLink {
      margin-top: 40px;
    }
  }