.Contact {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .Blog {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .ContactDiv1 {
    margin-bottom: 10%;
    overflow: hidden;
  }
  
  .ContactDiv2 {
    display: flex;
    flex-direction: row;
    gap: 1.5%;
  }

  .ContactDiv2Div1 {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    border-style: solid;
  }
  
  .ContactDiv2Div1img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    
  }