.serviceCard {
    border-radius: 20px;
    background-color: teal;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 1048px;
    padding: 30px 60px 56px;
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
    margin-top: 65px;
    cursor: pointer;
  }
  
  .contentWrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
    font: 400 15px Ubuntu, sans-serif;
    width: 50%;
  }

  .expanded {
    width: 100%; /* Full width when expanded */
    flex-direction: row; /* Stack content vertically */
    cursor: default; /* Disable pointer cursor when expanded */
  }
  
  .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;

  }
  
  .description,
  .longDescription {
    margin-bottom: 52px;
    text-align: justify;
  }
  
  .ctaButton {
    border-radius: 7px;
    background-color: rgb(64, 171, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    font-size: 21px;
    font-weight: 500;
    padding: 14px 23px;
    border: none;
    cursor: pointer;
    color: #fff;
    align-self: center;
    width: 312px;
    max-width: 100%;
    margin-top: auto;
  }
  
  .buttonIcon {
    width: 2.8vh;
  }
  
  .imageWrapper {
    background-color: #d9d9d9;
    width: 90%;
    height: auto;
    margin: 25px auto 0;
    border-radius: 5%;
  }

  .backButton {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(64, 171, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    font-size: 21px;
    font-weight: 500;
    padding: 14px 23px;
    border: none;
    cursor: pointer;
    color: #fff;
    align-self: center;
    width: 312px;
    max-width: 100%;
  }
  
  .backButton:hover, .ctaButton:hover {
    background-color:lightslategray; /* Darker red on hover */
  }

  @media (max-width: 991px) {
    .serviceCard {
      display: flex;
      flex-direction: column;
      padding: 5px 20px;
      margin-top: 5%;
    }
  
    .contentWrapper {
      width: 100%;
    }
    
    .title {
      font-size: 18px;
      font-weight: 700;
      margin-top: -20px;
      margin-bottom: 40px;
      align-self: center;
    }

    .ctaButton {
      margin-bottom: 20px;
      padding: 14px 20px;
      font-size: 15px;
    }
    .backButton {
      margin-bottom: 20px;
      padding: 14px 20px;
      font-size: 15px;
    }
  
    .imageWrapper {
      margin-bottom: 20px;
      width: 90%;
      height: auto;
    }

    .expanded {
      .ctaButton {
        margin-bottom: 0px;
        padding: 14px 20px;
        font-size: 15px;
      }
      width: 100%;
      flex-direction: column; /* Stack content vertically */
      cursor: default; /* Disable pointer cursor when expanded */
    }
  }