.servicesContainer {
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }
  
  .servicesWrapper {
    border-radius: 20px;
    background-color: #d3d3d3;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 40px 65px 100px;
  }
  
  .servicesTitle {
    color: #000;
    align-self: flex-start;
    font: 700 32px Ubuntu, sans-serif;
    margin-bottom: 80px;
  }
  
  @media (max-width: 991px) {
    .servicesWrapper {
      max-width: 100%;
      padding: 40px 20px;
    }
  
    .servicesTitle {
      margin-bottom: 40px;
    }
  }