.App {
    font-family: 'Poppins';
  }
  
  .App-header {
    background-color: #009691; /* Match the background color */
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: ms-auto;
    color: white;
  }
  .navbar-brand {
    font-style: oblique;
    font-weight: 600;
    margin-right: auto;
  }
  
  
  .App-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 20px;
  }
  
  .App-nav li {
    cursor: pointer;
  }
  
  .App-main {
    display: flex;                
    flex-direction: column;       
    align-items: flex-start;         
    justify-content: center;      
    background-color: #009691;    
    height: 500px;              
    text-align: center;
    padding-left: 3%;  
    gap: 30px;        
  }
  
  
  .App-main h1 {
    text-shadow: 1px 1px #000000;
    font-size: 2.3em;
    font-style: italic;
    color: white;
    gap: 20px;
  }
  
  .App-main a {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  .App-main span {
    color: white;
  }

  .App-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .start-button {
    background-color: #eb7734; /* Match the button color */
    color: white;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .start-button:hover {
    background-color: #F4511E;
  }
  
  a {
    text-decoration: none;
    font-size: 1em;
  }
  
  a:hover {
    text-decoration: underline;
  }
  